@charset "UTF-8";

:root {
  --color-darker: #262633;
  --color-dark: #36393B;
  --color-light: #EFF8E2;
  --color-pop: #F9EFC1;
  --color-pop2: #D0CDA736;
  --color-link: #AD8A64;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-darker);
  color: var(--color-light);
}

.splash {
  display: flex;
  height: 100vh;
  align-items: center;
}

.splash-content {
  margin: auto;
  width: 300px;
}

.large-text {
  font-size: 50px;
}

.responsive {
  display: block;
}

.hidden {
  display: none;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}

.user-msg {
  color: var(--color-pop);
  font-style: italic;
  text-align: center;
  width: 100%;
}

.keyboard {
  display: inline-block;
  border: 1px solid var(--color-pop);
  border-radius: 3px;
  padding: .1em .6em;
  margin: 0 .1em;
  background-color: var(--color-pop2);
}

.keyboard:active, .keyboard:focus {
  border-width: 2px;
  outline: none;
}

#result-type {
  font-size: 50px;
  border: none;
  background-color: var(--color-darker);
  color: var(--color-pop);
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
}

#result-type:focus {
  outline: 1px solid var(--color-pop);
}

.content-input {
  font-size: 50px;
  width: 300px;
  border: none;
  background-color: var(--color-darker);
  color: var(--color-pop);
  caret-color: var(--color-pop);
}

.content-input:focus {
  outline: 1px solid var(--color-pop);
}

#loading-results-container {
  text-align: center;
}

#cog {
  display: block;
  margin: 0 auto;
}

#result-name {
  font-size: 80px;
  color: var(--color-pop);
  margin-top: 40px;
  text-align: center;
}

#results {
  margin: auto;
}

#results-wrapper {
  margin-top: 20px;
}

#img-wrapper {
  margin-bottom: 10px;
}
  
#banner-img {
  height: 60vh;
  display: block;
  margin: auto;
}

.wrapper-sec {
  display: block;
}
  
#results-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 40px;
}

.menu-item {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.menu-item:not(:last-child) {
  margin-right: 5px;
}

.menu-item:hover {
  border-bottom: 1px solid var(--color-pop);
}

.menu-item-active, .menu-item-active:hover {
  border-bottom: 2px solid var(--color-pop);
}

#result-trailer {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56%;
}

#ytplayer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.review .review-author {
  margin-bottom: 3px;
  color: var(--color-pop);
}

.review .review-author a {
  color: inherit;
}

.review .review-content {
  margin-top: 0;
}

#reset-btn {
  display: block;
  margin: 20px auto 10px auto;
  width: 40vw;
  max-width: 200px;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  #banner-img {
    margin: auto;
    display: block;
  }
  
  .splash-content {
    width: 70vw;
  }
}

@media only screen and (min-width: 800px) {
  #results-wrapper {
    margin-top: auto;
  }
  
  #content-wrapper {
    width: 25vw;
    vertical-align: top;
  }
  
  #content-wrapper > div {
    max-height: calc(70vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
  }
  
  .splash-content {
    width: auto;
  }
  
  .responsive {
    display: inline;
  }
  
  .wrapper-sec {
    display: inline-block;
  }
  
  .wrapper-sec:not(:last-of-type) {
    padding-right: 10px;
  }
  
  #cog {
    display: inline-block;
  }
  
  #img-wrapper {
    margin: 0;
  }
  
  #banner-img {
    max-width: 39vw;
    height: 70vh;
  }
}