@charset "UTF-8";

:root {
  --color-darker: #262633;
  --color-dark: #36393B;
  --color-light: #EFF8E2;
  --color-pop: #F9EFC1;
  --color-link: #AD8A64;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-darker);
  color: var(--color-light);
}

.splash {
  display: flex;
  height: 100vh;
  align-items: center;
}

.splash-content {
  margin: auto;
}

.large-text {
  font-size: 50px;
}

.responsive {
  display: block;
}

.hidden {
  display: none;
}

#result-type {
  font-size: 50px;
  border: none;
  background-color: var(--color-darker);
  color: var(--color-pop);
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
}

#result-type:focus {
  outline: 1px solid var(--color-pop);
}

.content-input {
  font-size: 50px;
  width: 300px;
  border: none;
  background-color: var(--color-darker);
  color: var(--color-pop);
  caret-color: var(--color-pop);
}

.content-input:focus {
  outline: 1px solid var(--color-pop);
}

#results {
  width: 70vw;
  margin: auto;
}

.wrapper-sec:not(:last-child) {
  padding-right: 10px;
}

#banner-img {
  height: 70vh;
}

#content-wrapper {
  width: 39vw;
  vertical-align: top;
}

.wrapper-sec {
  display: inline-block;
}

#results-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 40px;
}

.menu-item {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.menu-item:not(:last-child) {
  margin-right: 5px;
}

.menu-item:hover {
  border-bottom: 1px solid var(--color-pop);
}

.menu-item-active, .menu-item-active:hover {
  border-bottom: 2px solid var(--color-pop);
}

@media only screen and (min-width: 640px) {
  .responsive {
    display: inline;
  }
}